<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

		<targets>
			<target name="logfile" xsi:type="File" fileName="file.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${stacktrace}"/>
			<target name="logconsole" xsi:type="ColoredConsole" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
			<!--此部分中的所有目标将自动异步-->
			<target name="asyncFile" xsi:type="AsyncWrapper">
				<!--项目日志保存文件路径说明fileName="${basedir}/保存目录，以年月日的格式创建/${shortdate}/${记录器名称}-${单级记录}-${shortdate}.txt"-->
				<target name="log_file" xsi:type="File" fileName="${basedir}/ProjectLogs/${shortdate}/${logger}-${level}-${shortdate}.txt" layout="${longdate} | ${message} ${onexception:${exception:format=message} ${newline} ${stacktrace} ${newline}" archiveFileName="${basedir}/archives/${logger}-${level}-${shortdate}-{#####}.txt" archiveAboveSize="102400" archiveNumbering="Sequence" concurrentWrites="true" keepFileOpen="false"/>
			</target>
			<!--使用可自定义的着色将日志消息写入控制台-->
			<target name="colorConsole" xsi:type="ColoredConsole" layout="[${date:format=HH\:mm\:ss}]:${message} ${exception:format=message}"/>
		</targets>

		<rules>
			<logger name="*" minlevel="Info" writeTo="logconsole"/>
			<logger name="*" minlevel="Debug" writeTo="logfile"/>
			<logger name="Microsoft.*" minlevel="Info" writeTo="" final="true"/>
			<logger name="*" minlevel="Info" writeTo="asyncFile"/>
			<logger name="*" minlevel="Warn" writeTo="colorConsole"/>
		</rules>
	</nlog>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

	<connectionStrings>
		<add name="ConnStr" connectionString="server=localhost;port=3306;user id=root;password=tanmulin;database=bqc_q48;persistsecurityinfo=true"/>
	</connectionStrings>


	
</configuration>
